body {
  margin: 0;
  background-color: #111111;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
}
p {
  padding-left: 25px;
}
nav {
  box-sizing: border-box;
  padding: 0px 20px;
  font-size: 48px;
  font-weight: 200;
  border: 2px solid #808080;
  border-radius: 20px;
  position: static;
  margin: 33px 41px 29px 41px;
}
.container {
  margin: 10px 41px;
  display: grid;
  grid-template-columns: 2fr 6fr;
  gap: 20px;
  height: 100vh;
  font-family: "Inter";
  font-style: normal;
}
.left {
  display: grid;
  gap: 20px;
  font-weight: 150;
}
.items {
  border: 2px solid #808080;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.pic {
  width: 140px;
  height: 140px;
  background: url(100k-ai-faces-6.png);
  border-radius: 70px;
}
.profile span {
  padding-top: 20px;
}
.details {
  text-transform: uppercase;
}
.list {
  display: grid;
  gap: 10px;
  padding: 0 0;
}
.right {
  border: 2px solid #808080;
  border-radius: 20px;
  font-weight: 200;
  font-size: 48px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: space-between;
}
.tasks {
  width: 90%;
  margin: 20px 20px;
  font-size: 24px;
  font-weight: 150;
}
table {
  border: 2px solid #808080;
  border-radius: 10px;
}
table td + td {
  border-left: 2px solid #808080;
}
td {
  padding: 10px 10px;
  text-align: left;
}
.items img {
  width: 34px;
  height: 27px;
}
.social {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.social-box {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 30px;
}
/* Custom Checkbox  */
.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #111111;
  border: 1px solid #808080;
  border-radius: 5px;
}

/* On mouse-hover, adding a grey background color */
.container1:hover input ~ .checkmark {
  background-color: #808080;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Responsive designs -> Media Query */
@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }
}
